---
layout: default
title: base0.net - About Michael Janssen
---
.post
  %h2 About Me
  %a{:href => "/images/me/jazz_club.jpg"}
    %img{:src => "/images/me/jazz_club-postsize.jpg", :title => "Michael Janssen"}
  %p
    Hello!  I'm Michael Janssen.  I'm a
    programmer who lives in Minneapolis, Minnesota.

  %p
    My full-time job is the sole programmer for
    %a{:href => "http://www.reconrobotics.com"} ReconRobotics
    providing robots that help save lives by providing a look into dangerous areas
    before the first line.  In that capacity, I perform all software development
    for the company, including the code that runs on the robots themselves,
    tools for progrmaming the robots in the manufacturing, Windows software for
    viewing the robot in command centers, Rails applications for business analysis,
    next-generation robot control software in Linux.

  %p
    I'm also finishing up my Ph.D in Robotics at the University of Minnesota in the
    %a{:href => "http://distrob.cs.umn.edu/"} Center for Distributed Robotics.
    My thesis is a study on a single user controlling multiple mobile robots,
    with the goal of increasing the robot:human ratio.  I'm in the final stages
    of my thesis, finishing up experiments and writing my dissertation.

  %p
    Base Zero LLC is my consulting business.  In my remaining time, I contract
    to various companies building cool things.  I usually work remotely from my
    home and travel on-site to customers when required.
    I have a very limited number of hours to work on projects and am currently
    fully booked at the moment.

  %p
    In the remaining free time I watch a decent amount of television, including the
    best shows from the US and the UK when possible.  I'm a fan of science-fiction
    books, television and movies.  I also run
    %a{:href => "http://pdcmagic.com"} PDCMagic
    which is a site for the Pauper community on Magic Online, which runs a number
    of free player-run tournaments every week.

  %p
    Believe it or not, I still program on other things and blog on this and
    other sites when I can.  You can check out my
    %a{:href => "http://github.com/jamuraa"} Github profile
    or my
    %a{:href => "http://stackoverflow.com/users/9805/jamuraa"} StackOverflow
    answered questions.  I'm a Debian Developer, maintaining a number of
    %a{:href => "http://qa.debian.org/developer.php?login=jamuraa@debian.org"} packages
    related to robotic platforms and other random things.  I also
    %a{:href => "http://flickr.com/jamuraa"} take pictures
    somewhat regularly.  I have a
    %a{:href => "http://twitter.com/jamuraa"} twitter
    as well.

  %p
    If you want to contact me for any reason, you can send me email at
    %a{:href => "mailto:jamuraa@base0.net"} jamuraa@base0.net

