<div class="review-info">
  <div class="cover-image"> {{ post.asin | amazon_medium_image }} </div>
  <div class="title"> Title: {{ post.asin | amazon_link }} </div>
  <div class="stars"> Author: {{ post.asin | amazon_authors }} </div>
  <div class="rating"> Mike's Rating: <strong>{{ post.rating }}</strong> </div>
</div>
