<div class="review-info">
  <div class="cover-image"> {{ post.asin | amazon_medium_image }} </div>
  <div class="title"> Title: {{ post.asin | amazon_link }} </div>
  <div class="author"> Author: {{ post.asin | amazon_authors }} </div>
  <div class="rating"> Rating: {{ post.rating }} </div>
  <br class="cl" />
</div>
