!!! 5
%html
  %head
    %title {{ page.title }}
    %meta{:name => "author", :content => "Marie Janssen"}/
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}/
    %link{:rel => "stylesheet", :href => "/css/screen.css", :type => "text/css", :media => "screen, projection"}/
    /%link{:rel => "stylesheet", :href => "/css/fonts.css", :type => "text/css", :media => "screen, projection"}/
    %link{:rel => "stylesheet", :href => 'http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Vollkorn:400italic,700italic,400,700', :type => "text/css"}
    %link{:rel => "stylesheet", :href => "/css/pygments/syntax.css", :type => "text/css", :media => "screen, projection"}/
    %link{:rel => "alternate", :type => "application/atom+xml", :href => "http://base0.net/atom.xml", :title => "base0.net Atom"}
  %body
    #floater
      %ul
        %li
          %a{:href => "/archive.html"} &laquo; Older Articles
        %li
          %a{:href => "/about.html"} About Me
    #wrapper
      #header
        %a{:href => "/"}
          %img{:src => "/images/logo.png"}/
      #content {{ content }}
      #footer
        .myinfo
          base0.net is all
          %br/
          &copy; 2004-2012ish
          %a{:href => "/about.html"} Marie Janssen
          %br/
        .sites
          %ul
            %li
              %a{:href => "http://github.com/jamuraa"} github
            %li
              %a{:href => "http://twitter.com/jamuraa"} twitter
            %li
              %a{:href => "http://www.flickr.com/photos/jamuraa"} flickr
        .rss
          %ul
            %li.rss-icon
              %a{:href => "/atom.xml"} atom
            %li.rss-icon
              %a{:href => "/rss.xml"} rss
            %li.email-icon
              %a{:href => "mailto:jamuraa@base0.net"} jamuraa@base0.net

